* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

#root {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#root > div:nth-child(1) {
    margin-top: 240px;
    margin-bottom: 30px;
}

#root > div:nth-child(1) span {
    font-size: 30px;
    font-weight: bold;
}

#root > div:nth-child(2) {
    font-size: 13px;
    margin-bottom: 30px;
}

#root form input {
    width: 250px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

#root form img {
    width: 90px;
    height: 45px;
}